		/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #EEE;
	
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #BAC0C4
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171
}
		body{
			background-color: #F0F0F3;
			font-family: 'Montserrat', sans-serif;
		}
		header,footer{
			text-align: center;
		}
		
		.one{
			height:300px;
			width:300px;
			margin:300px auto;
			background-color: #F0F0F3;
			border-radius: 25px;
			box-shadow: -10px -10px 30px white ,10px 10px 30px #AEAEC0 ;
			text-align: center;
			display: flex;
			justify-content: center;	
			align-items: center;		
		}
		.two{
			height:300px;
			width:300px;
			margin:300px auto;
			background-color: #F0F0F3;
			border-radius: 25px;
			box-shadow: -10px -10px 30px white inset ,10px 10px 30px #AEAEC0 inset ;
			display: flex;
			justify-content: center;	
			align-items: center;
		}
		.three{
			height:300px;
			width:300px;
			margin:300px auto;
			background-color: #F0F0F3;
			display: flex;
			border-radius: 50%;
			justify-content: center;
			align-items: center;
			box-shadow: -10px -10px 20px white   ,10px 10px 20px #AEAEC0,10px 10px 20px white inset ,-10px -10px 20px #AEAEC0 inset   ;
			text-align: center;
			
		}
		img{
			width:80px;
			height: 80px;
		}
		.min{
			height:290px;
			width:290px;			
			background-color: #F0F0F3;
			display: flex;
			border-radius: 50%;
			justify-content: center;
			align-items: center;			
			box-shadow: -10px -10px 20px white   ,10px 10px 20px #AEAEC0,-10px -10px 20px white inset ,10px 10px 20px #AEAEC0 inset  ;
		}
		.min1{
			height:100px;
			width:100px;			
			background-color: #F0F0F3;			
			border-radius: 50%;						
			box-shadow:  -10px -10px 20px white   ,10px 10px 20px #AEAEC0,10px 10px 20px white inset ,-10px -10px 20px #AEAEC0 inset   ;
		}